html{
  font-size: 20px;
  text-align: center;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
.blue{
  color: skyblue;
}
.pink{
  color: rgb(255, 192, 203);
}
h1{
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2rem;
  text-shadow: 2px 1px 1px rgb(129, 104, 175);
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic{
  font-weight: bold;
}